
<div class="container-fluid center">
  <h1>Welcome to MyRecipies</h1>
  
  <h2>
    This is the home page for the Professional Ruby on Rails Developer course.
  </h2>

        <%=link_to "Sign Up Now!", register_path, class:"btn btn-primary btn-lg"%>
</div>

<div class="row">
  
  <div class="col-md-4">
    <h3 class="midrow">
      View Receipes as a Guest User
    </h3>
    <h2 class="left"> Browse and view recipes as a guest and sign up later </h2>
    <p> <%= link_to "Browse Recipe Listing", recipes_path, class:"btn btn-default btn-small" %> </p>
  </div>
  
  <div class="col-md-4">
    <h3 class="midrow">
      Sign into your account
    </h3>
    <h2 class="left"> Add/update your recipes, create reviews, like/dislike your recipes, and more... </h2>
    <p> <%= link_to "login to your account", login_path, class:"btn btn-default btn-small" %> </p>
  </div>
  
  <div class="col-md-4">
    <h3 class="midrow">
      View recipes by chef as a Guest User
    </h3>
    <h2 class="left"> Browse Recipes by Chef name </h2>
    <p> <%= link_to "Browse Recipes by Chef", chefs_path, class:"btn btn-default btn-small" %> </p>
  </div>
  
</div>